@import url("https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-body: "Halant", serif;
  --font-mont: "Montserrat", sans-serif;
  --color-gold: #c3a25d;
  --color-blue: #283e77;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-family: Halant, serif;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#c04b62),
    to(#472d30)
  );
  background-image: linear-gradient(#c04b62, #472d30);
  border-radius: 50px;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    padding-right: 130px;
    padding-left: 130px;
  }
}

/* home slider  */
.homeSlider .swiper-pagination-bullet {
  height: 30px !important;
  width: 10px !important;
  border-radius: 10px !important;
  background: #ffebc2 !important;
  opacity: 1 !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.homeSlider .swiper-pagination-bullet-active {
  height: 60px !important;
  width: 10px !important;
  background-color: #283e77 !important;
}
@media only screen and (max-width: 1023px) {
  .homeSlider .swiper-pagination-bullet {
    height: 10px !important;
    width: 30px !important;
  }
  .homeSlider .swiper-pagination-bullet-active {
    height: 10px !important;
    width: 60px !important;
    background-color: #283e77 !important;
  }
}

.study-destination-swiper .swiper-pagination {
  bottom: -30px !important;
}
.study-destination-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: transparent;
  border: 2px solid #c3a25d;
  opacity: 0.4;
  transition: all 0.3s;
}
.study-destination-swiper .swiper-pagination-bullet-active {
  background: #c3a25d;
  opacity: 1;
  transform: scale(1.3);
}

.awards-swiper .swiper-pagination-bullet {
  background: transparent;
  border: 2px solid #c3a25d;
  opacity: 0.5;
  width: 12px;
  height: 12px;
}
.awards-swiper .swiper-pagination-bullet-active {
  background: #c3a25d;
  opacity: 1;
  transform: scale(1.3);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.animate-marquee {
  animation: marquee 30s linear infinite;
}
.animate-marquee2 {
  animation: marquee2 30s linear infinite;
}
